<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Paws & Tails Pet Food Shop App</h2>
        <div class="d-flex">
            <button class="btn btn-success">Add PetFood</button>
        </div>
    </div>
</nav>

<!-- Table coding -->

<table>
    <head>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">ID</th>
            <th scope="col">ID</th>
            <th scope="col">ID</th>
            <th scope="col">ID</th>
        </tr>
    </head>
</table>